{% extends 'base.html' %}

{% block content %}


<div class="container">
    <div class="row">
        <img class="card-img-top" src="{{ news.imageurl }}">
        <h2>{{ news.title }}</h2>
        {% if news.sentiment > 0 %}
        <div class="alert alert-success" role="alert">
          <h5>Sentiment Value: {{ news.sentiment }}  From Source: {{ news.source }}</h5>
        </div>
        {% else %}
        <div class="alert alert-danger" role="alert">
          <h5>Sentiment Value: {{ news.sentiment }}  From Source: {{ news.source }}</h5>
        </div>
        {% endif %}
        <hr/>
        <br/>
        <p>{{ news.body}}</p>
        <br/>
        <p>
            Original Source: <a class="btn btn-primary" href="{{ news.source_url }}" role="button" target="_blank">Link</a>
        </p>

    </div>
</div>

{% endblock %}

